@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 6% 10%;

    --border: 220 13% 91%;

    --primary: 220 6% 10%;
    --primary-hover: 240 4% 16%;
    --primary-active: 240 4% 6%;
    --primary-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
  }
  .dark {
    --background: 220 6% 10%;
    --foreground: 0 0% 98%;

    --border: 240 0% 59%;

    --primary: 0 0% 98%;
    --primary-hover: 220 13% 91%;
    --primary-active: 220 13% 81%;
    --primary-foreground: 220 6% 10%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-pretendard), sans-serif;
  }
}
