@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 6% 10%;

    --border: 220 13% 91%;
    --ring: 220 6% 10%;

    --primary: 220 6% 10%;
    --primary-hover: 240 4% 16%;
    --primary-active: 240 4% 6%;
    --primary-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --blacktogray200: 220 6% 10%;

    --shadow-color: rgba(12, 12, 13, 0.1);
  }
  .dark {
    --background: 220 6% 10%;
    --foreground: 0 0% 98%;

    --border: 240 0% 59%;
    --ring: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-hover: 220 13% 91%;
    --primary-active: 220 13% 81%;
    --primary-foreground: 220 6% 10%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --blacktogray200: 240 1% 59%;

    --shadow-color: rgba(213, 207, 207, 0.466);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-pretendard), sans-serif;
  }
}
@layer components {
  .item-middle {
    @apply flex justify-center items-center;
  }
}

/* 라디오 버튼 색상 변경*/
[type='radio'] {
  accent-color: black;
}

.accordion-shadow {
  @apply shadow;
  box-shadow: 0 1px 4px var(--shadow-color);
}
